/*------------------------------------*\
             Import Font
\*------------------------------------*/
@font-face {
    font-family: "HK Grotesk Light";
    src: url('../fonts/HKGrotesk/HKGrotesk-Light.woff') format("woff");
}

@font-face {
    font-family: "HK Grotesk";
    src: url('../fonts/HKGrotesk/HKGrotesk-Regular.woff') format("woff");
}

@font-face {
    font-family: "HK Grotesk Bold";
    src: url('../fonts/HKGrotesk/HKGrotesk-Bold.woff') format("woff");
}
